@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.landing-container{
  /* height: 90vh; */
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Karla;
}

.landing-about-container{
  line-height: 20px;
  animation-duration: 4s;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.landing-name{
  font-size: 40px;
}

.landing-title{
  font-size: 40px;
}

.landing-about{
  display: none;
}

#landing-learn-more{
  font-size: 20px;
  position: absolute;
  color: orange;
  bottom: 0;
  z-index: 1;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.arrowSliding {
  position: relative;
  -webkit-animation: slide 4s linear infinite;
  animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.landing-portrait{
  background-image: url("./IMG_5638.JPG");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100vw;
  /* margin-top: 100px; */
  position: fixed;
  bottom: 0;
  animation-name: image;
  animation-duration: 4s;
}

@media(min-width: 450px){
  .landing-portrait{
    background-repeat: no-repeat;
    background-size: stretch;
    background-position: top;
    /* position: relative; */
    height: 700px;
    width: 100vw;
  }
  
  #landing-learn-more{
    font-size: 40px;
  }
}

@media(min-width: 900px){
  #landing-learn-more{
    font-size: 30px;
    top: 0;
    margin-top: 250px;
  }
}

@media(min-width: 1000px){
  .landing-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .landing-about-container{
    line-height: 20px;
    margin-left: 80px;
    margin-top: 175px;
  }
  
  .landing-name{
    font-size: 60px;
  }
  
  .landing-title{
    font-size: 60px;
  }
  
  .landing-about{
    display: block;
  }
  
  #landing-learn-more{
    font-size: 30px;
    color: orange;
    margin-left: 260px;
    margin-top: 575px;
  }

  #landing-learn-more:hover{
    cursor: pointer;
  }

  .landing-portrait{
    height: 600px;
    width: 50vw;
    right: 0;
  }
}

@media(min-width: 1200px){
  
  .landing-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .landing-about-container{
    line-height: 20px;
    margin-left: 250px;
    margin-top: 175px;
  }
  
  .landing-about{
    display: block;
    font-size: 20px;
  }
  
  #landing-learn-more{
    color: orange;
    margin-left: 450px;
    margin-top: 575px;
  }

  #landing-learn-more:hover{
    cursor: pointer;
  }

  .landing-portrait{
    height: 600px;
    width:40vw;
    right: 0;
  }

}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes strike {
  0% {
    width: 0;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

@keyframes image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(9vw);
  }
  20% {
    opacity: 1;
    transform: translateX(5vw);
  }
  80% {
    opacity: 1;
    transform: translateX(-5vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-9vw);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(9vw);
  }
  20% {
    opacity: 1;
    transform: translateX(5vw);
  }
  80% {
    opacity: 1;
    transform: translateX(-5vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-9vw);
  }
}