@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.portfolio-container{
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Karla;
}

.portfolio-header{
  margin: 0px 0px 50px;
}

.porfolio-project-container{
  width: 90vw;
  height: 275px;
  text-align: start;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 5px 10px 18px #888888;
}

.project-specs-container{
  margin-left: 25px;
}

#learn-more{
  color: orange;
  font-weight: 600;
}

.portfolio-container iframe{
  display: none;
}

  @-webkit-keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-800px);
              transform: translateZ(-800px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }