@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.about-container{
    height: 90vh;
    width: 100vw;
    padding: 25px 0 0 75px;
    animation-name: about-page-load;
    animation-duration: 4s;
    font-family: Karla;
}

.about-header{
    font-size: 50px;
    font-weight: 600;
}

.about-bio{
    height: 400px;
    width: 900px;
    text-align: start;
}

.about-bio p{
    font-size: 25px;
}

.about-bio span{
    font-weight: 700;
}

.about-bio a {
    font-weight: 700;
}

#spotify-link{
    color: rgb(26,215,96);
}


#github-link{
    color: rgb(90,86,214);
}

#view-my-work{
    position: absolute;
    color: orange;
    margin-top: 200px;
    font-size: 25px;
}

#view-my-work{
    cursor: pointer;
}

@keyframes about-page-load{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media(max-width: 500px){
    .about-container{
        height: auto;
        width: 100vw;
        padding-left: 5px;
        padding-bottom: 40px;
        font-family: Karla;
        animation-name: about-page-load;
        animation-duration: 4s;
    }
    .about-bio{
        height: auto;
        width: 370px;
        text-align: start;
        word-wrap: break-word;
        /* padding-right: 25px; */
        overflow: scroll;
        margin-bottom: 0px;
    }

    .about-header{
        font-size: 30px;
    }

    .about-bio p{
        font-size: 18px;
    }

    .about-bio span{
        font-weight: 700;
    }

    .about-bio a {
        font-weight: 700;
    }

    #view-my-work{
        text-align: center;
        width: 100vw;
        height: 80px;
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 600;
    }

    @keyframes about-page-load{
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
}