.drop-about-bio{
    margin-left: 30px;
    margin-bottom: 75px;
    text-align: start;
    width: 50vw;
    height: auto;
}

.drop-about-bio p{
    font-size: 25px;
}


.the-drop-episodes{
    width: 100vw;
    height: auto;
}

#episode{
    box-shadow: 5px 10px 18px #888888;
    height: 153px;
    /* border-radius: 1.5%; */
    margin-bottom: 20px;
    background-color: rgb(49, 49, 49);
}

@media(max-width: 500px){
    .drop-about-bio{
        width: 90vw;
    }

    .drop-about-bio p{
        font-size: 20px;
    }

    #episode{
        width: 90vw;
        height: 152px;
        border-radius: 3%;
    }
}

/* IPAD QUERIE  */

@media(max-width: 1000px){
    
    .drop-about-bio{
        width: 90vw;
    }

    #episode{
        width: 90vw;
        height: 152px;
        border-radius: 3%;
    }
}